@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Yrsa:wght@400;500;600&display=swap');

:root {

    /* Fonts */
   --ff-poppins-300-400-500-600: 'Poppins', sans-serif;
   --ff-yrsa-400-500-600: 'Yrsa', serif;
}
   
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: var(--ff-yrsa-400-500-600);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.058);
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards {
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    font-family: var(--ff-poppins-300-400-500-600);
    box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.1);
}

.card:hover {
    scale: 1.03;
    transition: 0.5s;
    background-color: rgba(139, 82, 135, 0.5);
    color: #ffffff;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-block: 1rem;
}

p {
    width: 16rem;
    font-size: 0.9rem;
    padding-inline: 0.5rem;
}

.department {
    width: 9rem;
}

.fa-solid {
    color: rgba(128, 128, 128, 0.7);
}

a {
    font-family: var(--ff-poppins-300-400-500-600);
    font-size: 0.8rem;
}

.position-name {
    font-weight: 600;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 1rem;
    }

    a {
        font-size: 0.6rem;
    }
    
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        padding: 1rem;
    }

    p {
        font-size: 0.64rem;
        width: 4rem;
    }

    .department {
        width: 5rem;
    }

    .position-name {
        width: 8rem;
    }

    .location {
        width: 6.5rem;
    }
    
}
